openapi: 3.0.1
info:
  contact:
    email: support@able.ai
    name: Able technical support
    url: https://www.able.ai/contact
  description: SDK for building integrations with Able.
  license:
    name: MIT
    url: https://github.com/ableorg/ablesdk/blob/main/LICENSE
  title: Able API
  version: "1.20230615090446"
servers:
- url: https://api.ableai.com/
tags:
- name: API
paths:
  /v1/{parent}/relationships:
    post:
      operationId: API_CreateRelationship
      parameters:
      - description: |-
          The parent tenant resource name where this relationship will be created.
          Format: tenants/{tenant}
        in: path
        name: parent
        required: true
        schema:
          pattern: tenants/[^/]+
          type: string
      - description: |-
          The ID to use for the relationship, which will become the final component
          of the relationship's resource name.

          This value should be a valid XID.

          If no ID is specified, an ID will be generated by the server.
        in: query
        name: relationshipId
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1Relationship'
        description: The relationship to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Relationship'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Creates a new relationship.
      tags:
      - API
      x-codegen-request-body-name: relationship
      x-contentType: application/json
      x-accepts: application/json
  /v1/{parent}/uploads:
    post:
      operationId: API_CreateUpload
      parameters:
      - description: |-
          The parent tenant and realtionship where this upload will be created.
          Format: tenants/{tenant}/realtionships/{realtionship}
        in: path
        name: parent
        required: true
        schema:
          pattern: tenants/[^/]+/relationships/[^/]+
          type: string
      - description: |-
          The ID to use for the upload, which will become the final component of
          the upload's resource name.

          This value should be a valid XID.

          If no ID is specified, an ID will be generated by the server.
        in: query
        name: uploadId
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1Upload'
        description: The upload to create.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1Upload'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Creates a new upload.
      tags:
      - API
      x-codegen-request-body-name: upload
      x-contentType: application/json
      x-accepts: application/json
  /v1/{parent}:startUpload:
    post:
      operationId: API_StartUpload
      parameters:
      - description: |-
          The parent upload to be started.
          Format: tenants/{tenant}/realtionships/{realtionship}/uploads/{upload}
        in: path
        name: parent
        required: true
        schema:
          pattern: tenants/[^/]+/relationships/[^/]+/uploads
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: The request message for StartUpload.
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UploadRef'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Creates an upload session to start uploading a file.
      tags:
      - API
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    protobufAny:
      additionalProperties:
        type: object
      properties:
        '@type':
          type: string
      type: object
    rpcStatus:
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/protobufAny'
          type: array
      type: object
    v1Relationship:
      description: An Able relationship.
      example:
        name: name
      properties:
        name:
          description: The resource name of the relationship.
          type: string
      type: object
    v1Upload:
      description: An Able upload.
      example:
        name: name
      properties:
        name:
          description: The resource name of the upload.
          type: string
      type: object
    v1UploadRef:
      description: Upload reference for files.
      example:
        uploadUrl: uploadUrl
      properties:
        uploadUrl:
          description: URL where the file contents should be PUT.
          type: string
      required:
      - uploadUrl
      type: object
x-original-swagger-version: "2.0"

