{
  "swagger": "2.0",
  "info": {
    "title": "Able API",
    "version": "1.20230615090446",
    "description": "SDK for building integrations with Able.",
    "contact": {
      "name": "Able technical support",
      "url": "https://www.able.ai/contact",
      "email": "support@able.ai"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/ableorg/ablesdk/blob/main/LICENSE"
    }
  },
  "tags": [
    {
      "name": "API"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/{parent}/relationships": {
      "post": {
        "summary": "Creates a new relationship.",
        "operationId": "API_CreateRelationship",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Relationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "The parent tenant resource name where this relationship will be created.\nFormat: tenants/{tenant}",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "tenants/[^/]+"
          },
          {
            "name": "relationship",
            "description": "The relationship to create.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Relationship"
            }
          },
          {
            "name": "relationshipId",
            "description": "The ID to use for the relationship, which will become the final component\nof the relationship's resource name.\n\nThis value should be a valid XID.\n\nIf no ID is specified, an ID will be generated by the server.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "API"
        ]
      }
    },
    "/v1/{parent}/uploads": {
      "post": {
        "summary": "Creates a new upload.",
        "operationId": "API_CreateUpload",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1Upload"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "The parent tenant and realtionship where this upload will be created.\nFormat: tenants/{tenant}/realtionships/{realtionship}",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "tenants/[^/]+/relationships/[^/]+"
          },
          {
            "name": "upload",
            "description": "The upload to create.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1Upload"
            }
          },
          {
            "name": "uploadId",
            "description": "The ID to use for the upload, which will become the final component of\nthe upload's resource name.\n\nThis value should be a valid XID.\n\nIf no ID is specified, an ID will be generated by the server.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "API"
        ]
      }
    },
    "/v1/{parent}:startUpload": {
      "post": {
        "summary": "Creates an upload session to start uploading a file.",
        "operationId": "API_StartUpload",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UploadRef"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "parent",
            "description": "The parent upload to be started.\nFormat: tenants/{tenant}/realtionships/{realtionship}/uploads/{upload}",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "tenants/[^/]+/relationships/[^/]+/uploads"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "The request message for StartUpload."
            }
          }
        ],
        "tags": [
          "API"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1Relationship": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the relationship."
        }
      },
      "description": "An Able relationship."
    },
    "v1Upload": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the upload."
        }
      },
      "description": "An Able upload."
    },
    "v1UploadRef": {
      "type": "object",
      "properties": {
        "uploadUrl": {
          "type": "string",
          "description": "URL where the file contents should be PUT."
        }
      },
      "description": "Upload reference for files.",
      "required": [
        "uploadUrl"
      ]
    }
  },
  "host": "api.ableai.com",
  "schemes": [
    "https"
  ]
}
